bin/
stats/
logs/
wrapper/
downloads/
*.zip
*.7z
*.rar
StartGAZM.bat
StartGAZM-AMD.bat
StartCPUGAZM-AMD.bat
StartGAZM-AMD-CPU.bat
StartCPUGAZM-AMD.bat
StartCPUGAZM-AMD.bat
StartGAZM-AMD.bat
StartGAZM-AMD.bat
